node_modules/
dist/
block-pack/
dev/
work/
log/
*.tgz
.test_auth.json
.turbo
vite.config.*.timestamp-*
.DS_Store
# BUG in vue-tsc, it enables incremental builds when we do not ask it
ui/tsconfig.app.tsbuildinfo
ui/tsconfig.node.tsbuildinfo
